header {
    background-image: url("../img/fondHeader.jpg");
    text-shadow: 2px 2px black;
    color: white;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

header a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

header a:hover {
    background: white;
    color: black;
    transition: all 100ms;
    text-shadow: none;
    border-radius: 5px;
    padding: 2px;
}

main {
    background-color: #8bbee3;
    font-family: 'Calibri', sans-serif;
}

main h2 {
    border-bottom : 1px solid black;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
}

aside {
    padding-top: 2px;
    width: 200px;
    float: left;
}

.listcomp {
    list-style-type: none;
}

#presentation {
    padding-top: 3%;
}

#profil {
    /*width: 80%;*/
}